# https://gist.github.com/samerickson/747517fc48fae6543775ce0a8d63c331

[Unit]
Description=Disables GPE 17

[Service]
ExecStart=/usr/bin/bash -c 'echo "disable" > /sys/firmware/acpi/interrupts/gpe17'

[Install]
WantedBy=multi-user.target
